:root{
    --white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);
    --purple: hsl(281, 83%, 54%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--purple-600);
    font-family: "Work Sans", sans-serif;
    background-image: url(./assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    aspect-ratio: auto;
    color: var(--purple-950);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1rem;
    font-weight: 400;
}

/* Star Icon */
.star-icon{
    width: 1.5rem;
}

/* The container that holds all the FAQs */
.container-faq{
    width: 20rem;
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 0.75rem;
}

/* Header */
.faq-header{
    display: flex;
    gap: 1.5rem;
}

.faq-item:not(:last-child){
    border-bottom: 1px solid var(--purple-100);
}

/* Texts */
.text-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.text-icon h2{
    font-size: 1rem;
    font-weight: 600;
    max-width: 80%;
    margin: 0;
}

 .text{
    display: none;
    padding-bottom: 1.5rem;
    color: var(--purple-600);
    font-size: 0.88rem;
    line-height: 1.5;
 }

 .text.toggle{
    display: block;
 }

 /* Buttons */
 button{
    border: none;
    cursor: pointer;
    background-color: var(--purple);
    color: var(--white);
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
 }

 button.active{
    background-color: var(--purple-950);
 }

 /* Plus icon */
 .plus-icon{
    font-size: 1rem;
 }